GEMINI_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
BLOCKCHAIN_RPC_URL=https://polygon-mumbai.g.alchemy.com/v2/demo
BLOCKCHAIN_PRIVATE_KEY=
BLOCKCHAIN_CONTRACT_ADDRESS=0x8C3F001a91d26859841B98d97034b22Ae301b442
PORT=8000
